.header{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}
.color-orange{
    color: orangered;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    
}
.big-text{
    font-size: 70px;
}

.buy-button {
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
     background-color: rgb(0, 113, 227);
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.middle-block{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.call-h4{
    font-size: 18px;
}
.call-h2{
    font-size: 50px;
}
.link{
    color: rgb(0, 113, 227);
    text-decoration: none;
}
.down{
        text-align: center;
        padding-left: 34%;
        padding-right: 34%;
        padding-top: 50px;
        padding-bottom: 20px;
        line-height: 8px;
}
.box{
    display: inline-block;
    background-color: rgb(242, 242, 242);
}
.footer{
    text-align: left;
    color: rgb(81, 81, 84);
    background-color: rgb(245, 245, 247);
    height: 50px;
    line-height: 0px;
}
.link-footer{
    color:  rgb(29,29,31);
    text-decoration: none;
    padding-left: 150px;
    font-size: 10px;
}

.block-containers {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  
  .block {
    position: relative;
    padding: 5px;
    text-align: center;
  }

  .img-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.head{
    text-align: left;
    background-color:rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
}
.link-head{
    color:  gainsboro;
    text-decoration: none;
    padding-left: 120px;
    font-size: 15px;
}
.gray {
    background-color: rgb(242, 242, 242);
}